.base {
    font-size:1em;
    border-radius:0.5em;
    padding:0.5em 1em;
    min-width:2em;
    font-weight:500;
    /* for icon */
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.25em;
}

.fill {
    border:1px solid var(--clr-light);
    transition:color 0.25s;
    color:var(--clr-light);
    background:var(--clr-dark);
}
.fill:hover{
    background:var(--clr-dark-hover);
}

.outline {
    border:1px solid var(--clr-dark);
    background: var(--clr-light);
    color: var(--clr-dark);
    transition:background 0.25s;
}

.outline:hover{
    background: var(--clr-light-hover);
}

.ghost {
    border:none;
    background: var(--clr-light);
    color: var(--clr-dark);
    transition:color 0.25s
}
.ghost:hover{
    background:var(--clr-light-hover);
}